{% extends "base.html" %}

{% block content %}
    <main class="main">
        <nav class="nav col">
            {% for subsel in section.subsections %}
                <section>
                    {% set sec = get_section(path=subsel) %}
                    <h2 id="{{sec.title}}" class="section-header">
                        <a href=#{{sec.title}}> {{sec.title}} </a>
                    </h2>
                    <ul>
                        {% for page in sec.pages %}
                            <li><a href="{{page.permalink | safe}}">{{page.title}}</a></li>
                        {% endfor %}
                    </ul>
                </section>
            {% endfor %}
        </nav>
        <article class="about col">
            {% set page = get_page(path="about-me.md") %}
            <h2 id="{{page.slug}}" class="title">
                <a href="#{{page.slug}}"> {{ page.title }}</a>
            </h2>
            {{ page.content | safe }}
        </article>
    </main>
{% endblock content %}
